<style>
/* change cover_img in config.yml */
.jumbotron {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.jumbotron-heading, .lead {
    color: #fff;
}

.jumbotron-heading {
    font-size: 24px; /* Base size */
    margin: 10px 0; /* Margin */
    text-align: center; /* Center text */
}

.lead {
    font-size: 18px; /* Base size */
    margin: 10px 0; /* Margin */
    text-align: center; /* Center text */
}

/* Media query for smaller screens */
@media (max-width: 425px) {
    .jumbotron-heading {
        font-size: 20px; /* Smaller font size */
    }

    .lead {
        font-size: 16px; /* Smaller font size */
    }

    .jumbotron-btns {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }
}

.jumbotron-btns {
    display: block;
    margin-top: 50px;
}
</style>

<!-- Home hero section -->
<div class="jumbotron">
    <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" alt="Profile of {{site.author}}" />
    <div class="header-container">
        <p class="jumbotron-heading">Hi, I am {{site.author}}!</p>
        <p class="lead" id="typewriteText"></p>
    </div>

    {% comment %}
    <span>
        {%- include github_star_button.html -%}
        {%- include github_fork_button.html -%}
    </span>
    {% endcomment %}

    <!-- Uncomment buttons below to use them -->
    {% comment %}
    <div class="jumbotron-btns">
        <a href="{{site.url}}{{site.baseurl}}/get-started">
            <button class="btn btn-md btn-warning"> <strong>Get Started</strong> </button>
        </a>
        <a id="olvy-target">
            <button class="btn btn-md btn-default"> <strong>What's New</strong> </button>
        </a>
    </div>
    {% endcomment %}
</div>
