---
layout: default
---

<div class="card">
    <div class="col-md-8 offset-md-2">
        <h1>{{ page.name }}</h1>
        <img src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{ page.avatar }}" alt="{{ page.name }}" class="author-profile-img" />
        <p>{{ page.bio }}</p>

        <h2>Posts by This Author</h2>
        {% assign author_posts = site.posts | where: "author", page.username %}
        {% if author_posts.size > 0 %}
            <ul>
                {% for post in author_posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts by this author.</p>
        {% endif %}
    </div>
</div>
